*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f9fa;
    color:#212529;
}.hero{
    padding: 60px 0;
}

.hero h1{
    font-size: 3.5rem;
    font-weight: bold;
}

.hero span{
    color:#0d6efd;
}

.hero h2{
    margin:20px 0;
    color:#6c757d;
}

.hero p{
    font-size:1.1rem;
    line-height:1.8;
    margin-bottom:30px;
}

.hero-img{
    max-width:450px;
}
body{
    padding-top:70px;
}


.navbar-brand{
    color:#0d6efd;
    font-size:1.5rem;
}
.sobre-mi{
    background:white;
}


.titulo-seccion{
    font-size:2.5rem;
    font-weight:bold;
    margin-bottom:40px;
    color:#0d6efd;
}


.sobre-mi p{
    font-size:1.1rem;
    line-height:1.8;
    color:#555;
}
.habilidades{
    background:#f8f9fa;
}


.habilidad-card{
    height:100%;
    border:none;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}


.habilidad-card:hover{
    transform:translateY(-8px);
}


.icono{
    font-size:3rem;
    color:#0d6efd;
    margin-bottom:15px;
}


.habilidad-card h5{
    font-weight:bold;
    margin-bottom:15px;
}


.habilidad-card p{
    color:#6c757d;
}
.proyecto-card{

    border:none;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    transition:0.3s;

}


.proyecto-card:hover{

    transform:translateY(-10px);

}


.proyecto-card img{

    height:300px;
    object-fit:cover;

}


.proyecto-card h3{

    color:#0d6efd;
    font-size:1.5rem;

}


.badge{

    margin-right:5px;

}
.contacto{

    background:white;

}


.contacto p{

    font-size:1.1rem;
    color:#555;
    margin-bottom:30px;

}


.contacto-links{

    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

}


.contacto-links a{

    text-decoration:none;
    color:#0d6efd;
    font-size:1.1rem;
    border:2px solid #0d6efd;
    padding:10px 20px;
    border-radius:25px;
    transition:0.3s;

}


.contacto-links a:hover{

    background:#0d6efd;
    color:white;

}


.contacto-links i{

    margin-right:8px;

}